*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", Arial;
}

body{
  background:linear-gradient(135deg, #131111, #ffffff);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:65%;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow:0 25px 45px rgba(0,0,0,0.2);
  color:white;
}

h1{
  text-align:center;
}

.quote{
  text-align:center;
  opacity:.8;
  margin-bottom:10px;
}

.input-area{
  display:flex;
  gap:10px;
  margin:20px 0;
}

.input-area input{
  flex:1;
  padding:10px;
  border-radius:10px;
  border:none;
}

.input-area button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:#5b3ef0;
  color:white;
  cursor:pointer;
}

.progress{
  width:100%;
  height:12px;
  background:#ffffff6b;
  border-radius:10px;
}

#bar{
  width:0%;
  height:100%;
  border-radius:10px;
  background:#00ff88;
}

ul{
  list-style:none;
}

li{
  background:white;
  color:black;
  margin:8px 0;
  padding:10px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
}

.time{
  font-size:12px;
  color:gray;
}

.actions{
  margin-top:5px;
}

button{
  margin-right:5px;
  padding:5px 8px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  color:white;
}

.done{ background:green; }
.edit{ background:#3b6cf6; }
.delete{ background:red; }
.undo{ background:orange; }

h2{
  margin-top:20px;
}
