*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f1f1f1;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.calculator{
  width:330px;
  background:#000;
  border-radius:25px;
  padding:20px;
  color:white;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.display{
  text-align:right;
  margin-top:10px;
  padding:10px;
  border:2px solid #ffb84d;   
  border-radius:12px;         
}



.display h1{
  font-size:45px;
  margin-top:5px;
}

.buttons{
  margin-top:20px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

button{
  padding:18px;
  border:none;
  border-radius:12px;
  font-size:18px;
  cursor:pointer;
  background:#1f1f1f;
  color:white;
  transition:.2s;
}

button:hover{
  background:#2c2c2c;
}

.op{
  background:#ffb84d;
  color:#000;
  font-weight:bold;
}

.equal{
  background:#ffcf66;
  color:#000;
  font-weight:bold;
}
